.text-small {
    font-size: 0.9rem !important;
}
p, h1, h2, h3, h4{
    color: #111111;
}
body {
    min-height: 110vh;
    background-color: #40a0ff;
}

.loik {
    color: #FFFFFF;
}

.logo {
width: 2.5%;
height: 2.5%;
padding-right: 1%;
}

/* GRID TEST TA PEUR */
.wrapper {
  margin-top: 25%;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-gap: 5%;
  grid-auto-rows: minmax(90%, auto);
}

.wrapper.active {
  visibility: visible;
}

#un {
  grid-column: 2;
  grid-row: 1;
  background: red;
  margin-left: 25%;
  border: solid;

}

#deux {
  grid-column: 3;
  grid-row: 1;
  background: blue;
  margin-right: 25%;
  border: solid;

}

#trois {
  grid-column: 2;
  grid-row: 2;
  background: green;
  margin-left: 25%;
  border: solid;

}

#quatre {
  grid-column: 3;
  grid-row: 2;
  background:pink;
  margin-right: 25%;
  border: solid;

}

#cinq {
  grid-column: 3;
  grid-row: 3;
  background: purple;
  margin-right: 25%;
  border: solid;
}

#six {
  grid-column: 2;
  grid-row: 3;
  background: yellow;
  margin-left: 25%;
  border: solid;
}

/* CARROUSEL */
/* teams section styling */

.teams .carousel .card{
    background: #3498DB;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background:#1ABC9C;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card a:hover{
    text-decoration: none;
    color: #FFF;
}
.teams .carousel .card  a{

    color: #fff;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FFFFFF ;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid  #3498DB!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background:  #3498DB!important;
}

/* BARRE DE NAVIGATION */
.navbar {
    transition: all 0.4s;
    background: #85C1E9;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #85C1E9 ;
    }

    .wrapper {

      margin-top: 75%;


    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }

    .logo {

      width: 10%;
      height: 10%;
      padding-bottom: 1%;
      padding-right: 2%;

    }
}

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff !important;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -1;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* ACCUEIL */

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#video {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

/* FLÈCHE RETOUR */

#btn {
    visibility: hidden;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}


#btn:hover {
    background: #40a0ff;
}

#btn.active {
  visibility: visible;
}

.icone {
    width: 50px;
}

.gras{
    font-weight: bold;
}

.icon {
   height: 30px;
    width: 30px;
}

/* Footer */
/* footer */

.containerFooter{
	max-width: 1170px;
	margin:auto;
}
.rowFooter{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #3498DB;
    padding: 70px 0;
}
.footer-col{
   width: 33%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1ecee9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #FFFFFF;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col .txtFooter{
  font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* conseil des jeunes */
.containerConseil .leftside, .rightside{
  height:50vh;
  width:100%;
}
.containerConseil .leftside{
    background: ;
}
.containerConseil .rightside{
  background: ;
}
.containerConseil .leftside h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.containerConseil .leftside .txt1, .containerConseil .leftside .txt2{
  text-align: center;
}
.containerConseil .rightside img{
  margin: 20px 60px 60px 60px;
  height: 400px;
  width: 675px;
  object-fit: cover;
  border-radius: 6px;
}
@media screen and (min-width:768px) {
  .containerConseil .leftside, .rightside {
    height:100vh;
  }
}

/*Cabinet médical */
.containerCabinet .leftside, .rightside {
  height:50vh;
  width:100%;
}

.containerCabinet .leftside{
    background: blue;
}
.containerCabinet .rightside{
  background: red;
}
@media screen and (min-width:768px) {
  .containerCabinet .leftside, .rightside {
    height:100vh;
  }
}
